@import 'themes-vars';
@import 'plugins/plugins';

/* breadcrumb */
.link-breadcrumb {
  font-size: 0.75rem;
  display: flex;
  text-decoration: none;
}

/* card */

.card-header {
  font-weight: 600 !important;
  font-size: 15px;
}

.apexcharts-legend-marker {
  margin-right: 8px !important;
}

.subscription_details{
  position: absolute;
  bottom: 30px;
  p{
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #242c3a;
  }
}
